
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>


    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'accounts/signupform.css' %}" rel="stylesheet">
  </head>

  <body>

<div class ="container" style="border:1px solid black">
     <div class="xyz">
        <div class="top">
          <div class="row top_row">
            <div class="col-sm-9 head">
                <h4>Signup</h4>
                <p>Be a part of bunk planner</p>
            </div>
            <div class="col-sm-3 head_icon">
               <i class="fa fa-user-plus fa-3x" aria-hidden="true"></i>
            </div>
          </div>
        </div>


        <div class="below_head">

 <form style="margin:5px;padding-top: 20px" method="post" action="{% url 'accounts:signup' %}">
        {% csrf_token %}
        <div class="form_content">
                        <div class="inner-addon left-addon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {{ form.username }}
                            {{ form.username.errors }}
                        </div>

                        <div class="inner-addon left-addon">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            {{ form.first_name }}
                            {{ form.first_name.errors }}
                        </div>
                        <div class="inner-addon left-addon">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            {{ form.last_name }}
                            {{ form.last_name.errors }}

                        </div>
                        <div class="inner-addon left-addon">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                        <div class="inner-addon left-addon">
                            <i class="fa fa-key" aria-hidden="true"></i>
                            {{ form.password }}
                            {{ form.password.errors }}
                        </div>
                        <div class="inner-addon left-addon">
                            <i class="fa fa-key" aria-hidden="true"></i>
                            {{ form.password2 }}
                            {{ form.password2.errors }}
                        </div>
                        <div class="signup_btn">
                        <button type="submit" class="btn btn-danger btn-block">Signup</button>
                        </div>


          </div>
		  .errorlist
    {
        color: red;
    }
</form>

        </div>
     </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>


   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
