.xyz{
	width:450px;
  box-sizing: border-box;
  /*border:1px solid black;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /*width:500px;*/

 /* box-shadow: 10px 10px 5px black;*/
}

.top{
	background-color: teal;
	color: white;
	margin-bottom: 0px;
}
.top_row{
	margin-left: 0px;
	margin-right: 0px;
}
.head{
	padding-top: 20px;
	padding-left: 40px;
	height: 135px;
}
.head_icon{
	padding-top:50px;
	padding-right: 20px;
}


.form_content{
	margin:10px;
}
.forgot_password_link{
	margin-top: 30px;
	margin-right: 10px;
	text-align: right;
	padding-bottom: 30px;
}









/*.log:active{
	background-color: #626b7f;
}
.sign:active{
	background-color: #626b7f;
}*/

.below_head{
	background-color: #cccccc;
	margin-top: 0px;
}

.inner-addon {
    position: relative;
    margin-bottom: 20px;
}


.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}


.left-addon .fa  { left:  0px;}
.right-addon .glyphicon { right: 0px;}


.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
